[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
[submodule "test/arduino-mock"]
	path = test/arduino-mock
	url = https://github.com/pushtheworldllc/arduino-mock.git
